<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/web-services 
      http://www.springframework.org/schema/web-services/web-services.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/oxm 
      http://www.springframework.org/schema/oxm/spring-oxm.xsd">

	<bean id="mra"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schema" ref="schema" />
		<property name="portTypeName" value="SendMessagePortType" />
		<property name="locationUri" value="dataexchangeservice/" />
	</bean>


	<sws:static-wsdl id="mra" location="WEB-INF/dataexchangeservice.wsdl" />

</beans>